<% layout('layouts/boilerplate') %>
<body style="background-color: rgb(105, 86, 129); color: wheat">
  <div class="main-container">
    <div class="anim-1"></div>
    <div class="anim-2"></div>
    <div class="anim-3"></div>
    <div class="anim-4"></div>
    <div class="anim-5"></div>
    <div class="anim-6"></div>
    <div class="anim-7"></div>
    <div class="anim-8"></div>

    <div class="circle-1 shadow-lg p-3 mb-5 bg-body rounded">
      <div class="circle-2">
        <b style="z-index: 100; margin-bottom: -120px" class="mar-top-20"
          >4<b id="zero">0</b>4</b
        >

        <a href="/warrantys" style="z-index: 100"
          ><button class="home-btn">Go back Home</button></a
        >
      </div>
    </div>
    <div>
      <p
        style="
          font-size: 29px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bolder;
          color: wheat;
        "
      >
        <%= err.message%>
      </p>
    </div>
  </div>
</body>
