<% layout('layouts/boilerplate') %>
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">OUR TEAM</h5>
    </div>   
      <div class="row">
      <div class="col-12 col-md-3 col-xl-4"></div>
      <div class="col-12 col-md-6 col-xl-4 flex-center">
        <div class="card">
          <div class="card-body text-center">
            <p>
              <img class="img-fluid round-top-img" src="img/emoji.png" alt="card image" />
            </p>
            <h4 class="card-title">Anshul</h4>
            <h4 class="card-position">(Developer)</h4>
            <p class="card-text">
              His hardwork and dedication has resulted in this amazing project . If you are stuck anywhere, he has got your back!! an extrovert and social animal, he will make you like him immediately.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 col-xl-4"></div>
    </div>
      <div class="row" style="display: flex; justify-content: center; align-items: center;">
        <div class="col-12 col-md-6 col-xl-4 flex-center">
          <div class="card" style="margin-top: 30px">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid round-top-img" src="img/emoji.png" alt="card image" />
              </p>
              <h4 class="card-title">Devyansh Popli</h4>
              <h4 class="card-position">(Developer)</h4>
              <p class="card-text">
               His knowledge is overwhelming , but you have to take account his suggestions as they are very useful. Quite a resourceful person and an amazing team-player
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 flex-center dis-none-1200">
        </div>
        <div class="col-12 col-md-6 col-xl-4 flex-center">
          <div class="card" style="margin-top: 30px">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid round-top-img" src="img/emoji.png" alt="card image" />
              </p>
              <h4 class="card-title">Abhay Sharma</h4>
              <h4 class="card-position">(Developer)</h4>
              <p class="card-text">
               His knowledge is overwhelming , but you have to take account his suggestions as they are very useful. Quite a resourceful person and an amazing team-player.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 flex-center">
          <div class="card" style="margin-top: 30px">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid round-top-img" src="img/emoji.png" alt="card image" />
              </p>
              <h4 class="card-title">Devansh Pratap Singh</h4>
              <h4 class="card-position">(UI/UX Designer)</h4>
              <p class="card-text">
               A creative mind that has given shape to content of this website. a bit lazy, but will get the job done. Call him anytime for work, he is up for it. Team work is his fortel!!
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>